.block_field > .field-content > .input > .sequence-container > .sequence-container-inner > .sequence > .sequence-member > .sequence-member-inner > .widget-customizable_hallo_rich_text_area .richtext
{
    border:0;
    padding:0;
    background-color:transparent;
    max-width:1024px;
}
