{% extends "base2017-single.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Suchergebnisse{% endblock %}

{% block content %}
<article>
  <header>
    <h2>Suche</h2>
  </header>
  <form action="{% url 'search' %}" method="get">
        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input type="submit" value="Suche starten" class="button">
    </form>
   
   {% if search_results %}
   <h3>Suchergebnisse</h3>  
        <ul>
            {% for result in search_results %}
                <li>
                    <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                    {% if result.search_description %}
                        {{ result.search_description|safe }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
	
	
        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Vorherige</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Nächste</a>
        {% endif %}
    {% elif search_query %}
        <h3>Keine Treffer gefunden.</h3>
    {% endif %}
</article>
{% endblock %}
