{% load i18n %}
{% load wagtailadmin_tags static %}
{% block extra_css %}


    <link rel="stylesheet" href="{% static 'wagtailimages/css/add-multiple.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'fotoalben/css/multichooser.css' %}" type="text/css" />
{% endblock %}

{{ self.formset.management_form }}

<ul class="multiple" id="id_{{ self.formset.prefix }}-FORMS">
    {% if self.formset.non_form_errors %}
        <li class="error-message">
            {% for error in self.formset.non_form_errors %}
                <span>{{ error|escape }}</span>
            {% endfor %}
        </li>
    {% endif %}

    {% for child in self.children %}
        {% include "wagtailadmin/edit_handlers/inline_panel_child.html" %}
    {% endfor %}
</ul>

<script type="text/django-form-template" id="id_{{ self.formset.prefix }}-EMPTY_FORM_TEMPLATE">
{% escapescript %}
{% include "wagtailadmin/edit_handlers/inline_panel_child.html" with child=self.empty_child %}
{% endescapescript %}
</script>

<p class="add">
    <a class="button bicolor icon icon-plus" id="id_{{ self.formset.prefix }}-ADD" value="Add">
        {% blocktrans with heading=self.heading|lower %}Add {{ heading }}{% endblocktrans %}</a>
</p>

{% block extra_js %}


    <!-- this exact order of plugins is vital -->
    <script src="{% static 'wagtailimages/js/vendor/load-image.min.js' %}"></script>
    <script src="{% static 'wagtailimages/js/vendor/canvas-to-blob.min.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/jquery.fileupload.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/jquery.fileupload-process.js' %}"></script>
    <script src="{% static 'wagtailimages/js/vendor/jquery.fileupload-image.js' %}"></script>
    <script src="{% static 'wagtailimages/js/vendor/jquery.fileupload-validate.js' %}"></script>
    <script src="{% static 'wagtailadmin/js/vendor/tag-it.js' %}"></script>

    <!-- Main script -->
<!--    <script src="{% static 'wagtailimages/js/add-multiple.js' --
  --    %}"></script> -->

    {% url 'wagtailadmin_tag_autocomplete' as autocomplete_url %}
    <script>
        window.fileupload_opts = {
            simple_upload_url: "{% url 'wagtailimages:add' %}",
            accepted_file_types: /\.({{ allowed_extensions|join:"|" }})$/i, //must be regex
            max_file_size: {{ max_filesize|stringformat:"s"|default:"null" }}, //numeric format
            errormessages: {
                max_file_size: "{{ error_max_file_size }}",
                accepted_file_types: "{{ error_accepted_file_types }}"
            }
        }
        window.tagit_opts = {
            autocomplete: {source: "{{ autocomplete_url|addslashes }}"}
        };
    </script>
    <script id="upload-list-item" type="text/template">
      <li class="row">
        <div class="left col3">
          <div class="preview">
            <div class="thumb icon icon-image"></div>
            <div class="progress">
              <div class="bar" style="width: 0%;"></div>
            </div>
          </div>
        </div>
        <div class="right col9">
          <p class="status-msg success">{% trans "Upload successful. Please update this image with a more appropriate title, if necessary. You may also delete the image completely if the upload wasn't required." %}</p>
          <p class="status-msg failure">{% trans "Sorry, upload failed." %}</p>
          <p class="status-msg server-error">
            <strong>{% trans "Server Error" %}</strong>
            {% trans "Report this error to your webmaster with the following information:"%}
            <br /><span class="error-text"></span> - <span class="error-code"></span>
          </p>
          <p class="status-msg update-success">{% trans "Image updated." %}</p>
          <p class="status-msg failure error_messages"></p>
        </div>
      </li>
    </script>
{% endblock %}
