{% load wagtailcore_tags %}
<li class="tomenu mobile-navigation">
  <a id="to-menu" href="#menu" title="Zum Menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
</li>
<li class="first home">
  <a href="{{ page.get_site.root_url }}"><i class="fa fa-home" aria-hidden="true"></i></a>
</li>
{% for subpage in page.get_site.root_page.get_children %}
  {% if not subpage.show_in_menus  %}
  <li class="mobile-navigation"><a href="{% pageurl subpage %}">{% if subpage.specific.get_icon %}<i class="fa fa-{{subpage.specific.get_icon}}"></i>{% endif %}</a></li>
  {% endif %}
{% endfor %}
<li class="extended-navigation">
  <a class="verein" href="{{ page.get_site.root_url }}">{{page.get_site.site_name}}</a>
  <ul>
    {% for subpage in page.get_site.root_page.get_children %}
    {% if not subpage.show_in_menus  %}
    <li><a href="{% pageurl subpage %}">{{subpage}}</a></li>

    {% endif %}
    {% endfor %}
  </ul>
</li>
{% for subpage in page.get_site.root_page.get_children %}
    {% if subpage.show_in_menus  %}
    <li class="extended-navigation"><a href="{% pageurl subpage %}">{{subpage}}</a>
      <ul>
	{% for child in subpage.get_children %}
	<li><a href="{% pageurl child %}">{% if child.specific.kurztitel %}{{child.specific.kurztitel}}{% else %}{{child}}{%endif%}</a></li>
	{% endfor %}
      </ul>
    </li>
    {% endif %}
{% endfor %}
